.git
.github

.env
.env.*
!.env.example
server
go_redis

bin/
build/
dist/
tmp/

*.log
*.out
*.test
*.prof
*.aof
*.pem
*.key

coverage/
coverage.out
coverage.html

vendor/

README.md
LICENSE

Dockerfile*
docker-compose*.yml
